{% extends "base.html" %}

{% block title%}
<title>Retaining Wall Design: Lateral Earth Pressure | Home</title>
{% endblock%}

{% block intro %}
	<h4>Introduction</h4>
	<hr noshade>
	<div style="font-size:0;height:4px;"></div>
	<p>This is a web app for geotechnical engineering that calculates the following lateral earth pressure coefficients 
	   for granular soils that are required for a geotech to perform retaining wall design:
		<ul>
			<li>Active earth pressure coefficient, Ka (Rankine & Coulomb)</li>	
			<li>Passive earth pressure coefficient, Kp (Rankine & Coulomb)</li>	
			<li>At-Rest earth pressure coefficient, Ko (Mayne & Kulhawy) </li>	
		</ul></p>
	<p id="browserError">{{browserError}}</p>
	
{% endblock %}
{% block input %}

<h4>Input</h4>
<hr noshade>
<div style="font-size:0;height:4px;"></div>
<form action="/results" method="post" name="input">
	<table id="input_fields" border="0">
		<tr>
		    <td>Wall Inclination, &beta; (degrees)</td>
		    <td><input	id="text_box_beta" 
						type="number"  
						name="wall_inclination" 
						placeholder="75"
						value="{{b_deg}}"
						maxlength="2"
						min="60" 
						max="90"						
						required
						autofocus />
						
			</td>
		    <td class="verify"></td>
		</tr>
		<tr>
		    <td>Soil Friction Angle, &phi; (degrees)</td>
		    <td><input	id="text_box_phi" 
						type="number"  
						name="friction" 
						placeholder="32"
						value="{{p_deg}}"
						min="20" 
						max="45" 
						maxlength="2"
						required />
			</td>
		    <td class="verify"></td>
		</tr>
		<tr>
		    <td>Backfill Angle, &alpha; (degrees)</td>
		    <td><input	id="text_box_alpha" 
						type="number"  
						name="backfill_angle" 
						placeholder="15"
						value="{{a_deg}}"
						maxlength="2"
						min="0" 
						max="25" 
						required />
			</td>
		    <td class="verify"></td>
		</tr>
		<tr>
		    <td>Wall Friction, &delta; (degrees)</td>
		    <td><input	id="text_box_delta" 
						type="number"  
						name="wall_friction" 
						placeholder="0"
						value="{{d_deg}}"
						maxlength="2" 
						min="0" 
						max="30"
						required />
			</td>	
		    <td class="verify"></td>
		</tr>	
		<tr>
		    <td>Overconsolidation Ratio, OCR</td>
		    <td><input	id="text_box_ocr" 
						type="number"  
						name="ocr" 
						placeholder="1"
						value="{{o}}"
						maxlength="2"
						min="1" 
						max="5"
						required />
			</td>
		    <td class="verify"></td>
		</tr>
		<tr>
			<td></td>
			<td><input type="submit" id="button" value="Calculate!"></td>
			<td></td>
			<td></td>
		</tr>
	</table>
	<div style="font-size:0;height:2px;"></div>
</form>
{% endblock %}

{% block figure %}
<h4>Retaining Wall</h4>
<hr noshade>
  <!-- Start Canvas-->
  <canvas id="canvas" width="400" height="200">
	<p>If you see this image, please update your browser to Google Chrome!</p>
  </canvas>
{% endblock %}

{% block results %}
	<h4> Results</h4>
	<hr noshade>
	<div style="font-size:0;height:4px"></div>

	<table id="output_fields" border="0">
		<tr>
			<td id="table_results_heading">Coefficient </td>
			<td id="table_results_heading">Rankine </td>
			<td id="table_results_heading">Coulomb</td>
			<td id="table_results_heading">M&amp;K</td>
		</tr>	
		<tr>
			<td>Active (Ka)</td>
			<td>{{Ka}}</td>
			<td>{{Kac}}</td>
			<td>-</td>
		</tr>
		<tr>
			<td>Passive (Kp)</td>
			<td>{{Kp}}</td>
			<td>{{Kpc}}</td>
			<td>-</td>
		</tr>
		<tr>
			<td>At-Rest (Ko)</td>
			<td>-</td>
			<td>-</td>
			<td id="atRest">{{Ko}}</td>
		</tr>	
	</table>
	<div style="font-size:0;height:10px"></div>
	<p><b>Notes:</b></p>
	  {% if errors %}
		<ul>
			<li id="list_error">{{errors}}</li>
		</ul>
	  {% endif %}
{% endblock %}